<div class="panel-header panel-header-sm">
	<h6 style="margin-top: 1vh; color: white">View Handbooks for Reference</h6>
</div>
<div  class="col-md-12" >
	<div *ngIf="Bookbool;" style="width: 100%; position: absolute; z-index: 1000000;  top: 4vh" align="center">
			<div class="row" align="center" style="max-width: 99%" >
						<div class="col-md-12">
							<div class="card"style="color: white; background-color: #ff3636" >
								<div class="card-header" align="center">
									<h5 class="title">View Handbook</h5>
								</div>
								<div  class="card-body" align="center">
									<div style="min-height: 30vh">
										<button class="btn btn-neutral btn-sm" (click)="closepdf()">go back?
										</button>
										<p style="color: white">{{loading}}</p>
										<pdf-viewer [src]="pdfSrc" 
										(on-progress)="onProgress($event)"
										[render-text]="true"
										style="display: block;"
										></pdf-viewer>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	<div class="card">
		<div class="card-header">
			<div class="card-body" >
				
			<h3 class="card-title">View Your Handbooks</h3>
			<div class="table-responsive">
				<table class="table">
					<thead class=" text-primary">
						<th>
							Id
						</th>
						<th>
							Name
						</th>
						<th>
							Title
						</th>
						<th>
							Description
						</th>
						<th>
							Actions
						</th>
					</thead>
					<tbody>
						<tr  *ngFor="let feat of this.filesarr index as i" > 
							<td>
								{{feat.id}}
							</td>
							<td>
								{{feat.filename}}
							</td>
							<td>
								{{feat.title}}
							</td>
							<td>
								{{feat.description}}
							</td>
							<td>
								<button class="btn btn-primary btn-block" style="color: white"
								(click)="download(feat.id)">View</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


