

<div style="overflow-x: hidden; min-width: 100vw; background-color: #151922; min-height: 100vh " align="center">

	<div style="min-width: 300px; width:50%;">
		<div class="container">
			<h1 align="center" style="color: #fafafa">Root Admin Login</h1>
			<form style="margin:20px;" [formGroup]="regForm" (ngSubmit)="login(email.value, password.value)" >
				<div class="form-group uk-form">
					<label for="email">Username</label>
					<input formControlName="email" type="email" #email id="email" class="uk-input uk-form-success form-control form-control-lg is-valid" placeholder="Enter email" [ngClass]="{'is-invalid': submitted && f.email.errors }">
					<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
						<div *ngIf="f.email.errors.required" style="color: red">username is required</div>
					</div>
					<small class="form-text text-muted">Your email will not be shared with anyone</small>
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input formControlName="password" type="password" #password id="password" class=" uk-input uk-fprm-success form-control is-invalid" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required" style="color: red">Password is required</div>
						<div *ngIf="f.password.errors.minlength" style="color: red">Password must be at least 4 characters</div>
					</div> 
					<p style="font-size: 2vh;color: orange"></p>
				</div><div *ngIf="this.captchabool; else dislbutton" class="form-group">
					<button [disabled]="loading" class="btn btn-primary uk-button uk-button-secondary uk-button-small">Login</button>
					<p style="font-size: 14px; color: red">{{this.div}}</p>
				</div><div>
					<ng-template #dislbutton>
						<button class="btn-primary" style="color: black; background-color: #eeeeee"  disabled>Disabled</button></ng-template></div>

					</form>

					<p align="center" style="color: #fafafa">Please First Check the box below to unlock login.</p><div align="center">
						<ngx-recaptcha2 #captchaElem
						size="normal"
						(expire)="handleExpire()"
						(success)="handleSuccess($event)" >
					</ngx-recaptcha2></div>
				</div>
			</div>

		</div>