
<div style="width: 100%; height: 20vh;background-color: black" align="center">
	<h2  style="padding-top:10vh;color: white" >Personalize</h2>
</div>
<h5 class="title" style="color: white" [style.color]="data.selectedcolor" align="center">Personalize your dashboard</h5>
<div align="center" style="width: 100%;margin-top: 5vh" align="center">

	<div class="col-md-8" align="center">
		<div classs="row" align="center">
			<div class="card" style="background-color: darkviolet" align="center">
				<div class="card-header">

				</div>
				<div class="card-body" align="center">
					<form>
						<div class="row" align="center">
							<div class="col-md-12 pr-1" align="center">
								<div class="form-group" align="center">
									<label style="color: white;font-size: 20px" >Primary Color</label>
									<div class="container-fluid" style="color: white; width: 100%" >
											<div class="row" align="center">
												<div class="px-1" *ngFor="let deat of data.colorarray; index as i3">
													<button  [style.background-color]="deat" class="btn btn-primary btn-block"  (click)="data.setcolor(deat)" style="color: white">{{deat}}</button>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 pr-1">
								<div class="form-group">
									<label style="color: white;font-size: 20px">Font Style</label>
									<div class="container-fluid" style="color: white">
										<div>
											<div class="row" align="center">
												<div class="px-1" *ngFor="let deat of data.fontarray; index as i3" >
													<button   [style.font-family]="deat" [style.background-color]="data.selectedcolor" class="btn btn-primary btn-block"  (click)="data.setfont(deat)" style="color: white">{{deat}}</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div></div>
