 
.calendar {
  display: block;
  width:  210px;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  .calendar-navs {
    background-color: white;
  }

  .month-nav {
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .year-nav {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      background: white;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
    }
    .week-date,
    .day-name {
      text-align: center;
      padding: 2px;
      display: block;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .week-date {
      height: 30px;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
      }

      &::after {
        content: '';
        height: 25px;
        width: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }
      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            background-color: teal;
          }
        }
      }
      &.selected {
        color: white;
        &:after {
          background-color: teal;
        }
        &:hover {
          &:after {
            background-color: teal;
          }
        }
      }
       &.isholiday2{
       background-color: red;
       }
       &.isholiday {
       position: relative;
       z-index: 100000;
       
        color: white;
        &:after {
          background-color: green;
        }
        & {
          &:after {
            background-color: green;
          }
        }
      }
       &.isholiday3 {
       position: relative;
       z-index: 100000;
       
        color: white;
        &:after {
          background-color: red;
        }
        & {
          &:after {
            background-color: red;
          }
        }
      }
       &.isholiday6 {
       position: relative;
       z-index: 100000;
       
        color: white;
        &:after {
          background-color: blue;
        }
        & {
          &:after {
            background-color: blue;
          }
        }
      }
      &.disabled {
        color: transparent;
      }
      &.disabled2 {

        color: #bdbdbd;
      }
        &.disabled3 {

        color: red;
      }
    }
    .today {
      font-weight: bold;
    }
  }
} 
  .module {
  background: white;
  border: 1px solid #ccc;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.stripe-2 {
  z-index:1000000;
  color: black;
  background-color: transparent;
}