<div  style="background-color: black;height: 10vh"></div>
<!-- https://github.com/timcreative/freebies/blob/master/LICENSE.md-->
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
    	 <h6 class="card-title">Create Holiday Type</h6>
	  <div class="row" >
	  	<div class="col-md-12">
	  		<div class="card"style=" background-color: white">
	  			<div class="card-body">
	  				<form>
	  					<div class="row" align="center">
	  						<div class="col-md-6 pr-1">
	  							<div class="form-group">
	  								<label style="color: black">Holiday Type Name <span style="color: red">(Alert: Don't use comma)</span></label>
	  								<input type="text" #some1 id="some1" placeholder="eg, Sick Leave" class="form-control"  name="some1">
	  							</div>
	  						</div>
	  						<div class="col-md-6 pr-1">
	  							<div class="form-group">
	  								<label style="color: black">Max Days Allowed per financial year</label>
	  								<input type="number" #some2 id="some2" class="form-control"  name="some2">
	  							</div>
	  						</div>
	  						<div class="col-md-12" align="center">
	  							<div class="form-group">
	  								<button  class="btn btn-primary btn-block"  style="color: white" placeholder="10" (click)="create_type(some1.value, some2.value)" >Submit</button>
	  							</div>
	  						</div>
	  					</div>
	  				</form>
	  			</div>
	  		</div>
	  	</div>
	  </div>
    </div>
    <div class="card-header">
      <h4 class="card-title">View Holiday Types</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>
              Holiday Name
            </th>
            <th>
              Max Days
            </th>
         </thead>
         <tbody>
          <tr  *ngFor="let feat of data.typearr index as i"  > 
            <td>
              {{feat.name}}
            </td>
            <td>
              {{feat.days}}
            </td>
              <td>
                <button class="btn btn-primary btn-block" (click)="deltype(feat.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

