<div  style="background-color: black;height: 10vh ! important; width: 100vw;"></div>
<!-- https://github.com/timcreative/freebies/blob/master/LICENSE.md-->
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Create Features</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>
              Value
            </th>
            <th >
             Submit
           </th>
         </thead>
         <tbody>
          <tr>
            <div style="margin-top: 2vh;">
              <input type="text" #createfeature id="createfeature" class="form-control" placeholder="New Feature Name"></div>
              <td>
                <div style="display: flex;flex-direction: row; align-content: center;">
                  <div style="margin-left: 2vw;"><button class="btn btn-primary btn-block" (click)="this.add(createfeature.value)" >Submit &nbsp;<i class="now-ui-icons ui-1_check" style="transform: scale(1.5);"></i></button></div>
                </div>
              </td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-header">
        <h4 class="card-title">Edit Features <span style="color: red; font-size: 15px">Standard features are unwritable</span></h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ID
              </th>
               <th>
                Name
              </th>
              <th>
               Edit
             </th>
           </thead>
           <tbody>
            <tr *ngFor="let feat of this.featureArray; index as i" id="feat{{i}}">
              <td>
                {{feat.id}}
              </td>
              <td>
                {{feat.name}}
              </td>
              <td>
                <div style="display: flex;flex-direction: row; align-content: center;flex-wrap: wrap">
                  <div>
                    <input type="text" [value]="feat.name" id="edfeat" #edfeat name="edfeat" class="form-control" placeholder="New Feature">
                  </div>
                  <div >
                    <button  class="btn btn-primary btn-block" (click)="this.edit(edfeat.value,feat.id)">Edit &nbsp;<i class="now-ui-icons ui-1_send" style="transform: scale(1.5);"></i></button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

