<div class="panel-header panel-header-sm">
	<h6 style="margin-top: 1vh;margin-left: 0.5vw; color: white">View, Edit and Delete your Equipments here</h6>
</div>
<div  class="col-md-12" >
	<div class="card">
			 <div class="card-header">
      <h4 class="card-title">Create Equipments</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>
              Value
            </th>
            <th >
             Submit
           </th>
         </thead>
         <tbody>
          <tr>
            <div style="margin-top: 2vh;">
              <input type="text" #createfeature id="createfeature" class="form-control" placeholder="New Equipment Name"></div>
             <td>
              <div style="display: flex;flex-direction: row; align-content: center;">
                <div style="margin-left: 2vw;"><button class="btn btn-primary btn-block" (click)="this.createequipment(createfeature.value)" >Submit &nbsp;<i class="now-ui-icons ui-1_check" style="transform: scale(1.5);"></i></button></div>
              </div>
            </td></tr>
          </tbody>
        </table>
      </div>
    </div>
			<div class="card-header">
				<h4 class="card-title">List View Of Equipments</h4>
			</div>
			<div  class="card-body">
				<div class="table-responsive" style="min-height: 30vh">
					<table class="table" >
						<thead class=" text-primary">
							<th>
								Serial No.
							</th>
							<th>
								Equipment Name
							</th>
							<th>
								Actions
							</th>
						</thead>
						<tbody>
							<tr *ngFor="let feat of this.data.equipmentsarre; index as i2">
								<td style="margin-left: 0.2vw">
									{{i2 + 1}}
								</td>
								<td>
									{{feat.name}}
								</td>
								<td>
						<button class="btn btn-primary btn-block" style="color: white"
					(click)="del(feat.name)">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


